
body {
	font-family: Arial, sans-serif; 
	font-size: 14px;

}

#tinymce{background-color:#ffffff;}

img {border: 0px;}

a,a:visited{
	color: orange;
	text-decoration:none;
}

a:hover,a:focus  {
	color: red;
	text-decoration: none;
	cursor:pointer
} 

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, verdana, sans-serif; 
	color: blue;
	font-weight: 300;
	line-height: 1em;
	margin: 1em 0 1em 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.8em;
}



p {
	margin: 1em 0 1em 0;
}

ul, ol {
	margin: 0 0 2em 3em;
}

ul li, ol li {
	margin-bottom: 10px;
	line-height: 1.2em;
}

